<h1>All articles</h1>
    <ul>
       
            <% @article.each do |t| %>
             <li>
                <p>
                    title: <%= t.title %>
                </p>
                <p>
                    description: <%= t.description%>
                </p>
                <%= link_to 'Edit ', edit_article_path(t)%>
                <%= link_to 'View', article_path(t)%>
                <%= link_to 'Create new', new_article_path%>
                <%= link_to 'Delete', article_path(t), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
                <br>
                 _____________________________________
                 </li>
            <% end %>       
        
    </ul>